* {
    margin: 0%;
    top: 0%;
    bottom: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-style: normal;

}

.container-fluid {
    background-image: linear-gradient(rgba(4, 23, 65, 0.76), rgba(5, 18, 46, 0.866)), url('bg-img/bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    padding-top: 35px;
}



.logo {
    border: rgb(0, 0, 0) 2px solid;
}

input {
    border: none;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.637);
}

.select {
    border: 2px black solid;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.637);
}

.btnn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 10rem;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}




#rangeValue {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.range {
    appearance: none;
    width: 100%;
    height: 8px;
    background: none;
    border-radius: 5px;
    position: relative;
}

/* Slider thumb */
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: yellow 2px solid;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    /* background: yellow; */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.range::-moz-range-track {
    background: none;
}

.range::-ms-track {
    background: none;
    border: 0;
    color: transparent;
}

.range::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}





/* input border none css.... */
input:focus,
input:active,
select:focus,
select:active {
    outline: none;
    border: none;
    box-shadow: none;
}

